@model List<Contacts>
@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<a asp-controller="Contacts" asp-action="Add">Add New Contact</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Address</th>
            <th>Note</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contacts in Model)
        {
            <tr>
                <td>@contacts.Name</td>
                <td>@contacts.Number</td>
                <td>@contacts.Address</td>
                <td>@contacts.Note</td>
                <td>
                    <a asp-controller="Contacts" asp-action="Edit" asp-route-id="@contacts.ContactsId" asp-route-slug="@contacts.Slug">Edit</a>
                    <a asp-controller="Contacts" asp-action="Delete" asp-route-id="@contacts.ContactsId" asp-route-slug="@contacts.Slug">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
